# Core functionality - changes here should be rare!
/src/app.py                   @teinggg
/src/backend/database.py      @teinggg
/src/backend/routers/auth.py  @teinggg

# The frontend will need refactored soon to be more object oriented.
/src/static/   @teinggg
